.sign-in-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.left-content {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 64px;
  font-weight: bold;
  color: var(--text-priamry);
}

.forgot-password {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--color-placeholder);
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password:hover {
  color: var(--color-link);
}

.right-content {
  background-image: url("../../../assets/lg-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* media querry */
@media (max-width: 576px) {
  .right-content {
    background-image: url("../../../assets/sm-image.png");
  }

  .sign-in-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-content {
    padding-right: 24px;
    padding-left: 24px;
  }

  .title {
    font-size: 32px;
  }

  .forgot-password {
    font-size: 7px;
    padding-bottom: 14px !important;
  }
}
